<header class="site-header">
  <nav class="navbar">
    <div class="container">
      <div class="nav-brand">
        <a href="/">Valentino Garcia Susini</a>
      </div>
      <input type="checkbox" id="nav-toggle" class="nav-toggle">
      <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
        <span></span>
        <span></span>
      </label>
      <ul class="nav-menu">
        <li class="nav-item">
          <a href="/" class="nav-link" data-i18n="nav.home">Home</a>
        </li>
        <li class="nav-item">
          <a href="/#projects" class="nav-link" data-i18n="nav.projects">Projects</a>
        </li>
        <li class="nav-item">
          <a href="/cv.html" class="nav-link" data-i18n="nav.cv">CV</a>
        </li>
        <li class="nav-item">
          <a href="/about.html" class="nav-link" data-i18n="nav.about">About Me</a>
        </li>
        <li class="nav-item">
          <a href="/#contact" class="nav-link" data-i18n="nav.contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
